      {% import "bootstrap/wtf.html" as wtf %}
      <main>
        <!-- Add Café -->
        <section id="cafes" class="bg-lightgrey">
          <div class="container-fluid text-left">
            <div class="col-lg-6 col-md-12">
              <h1>Add new Café</h1>
              <p class="text-secondary">Know a good café?<br />
                You can add it here, just enter few important details.
              </p>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class="flash">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
              <!-- Flash messages don't work on redirect, the message after posting form is in redirect_message -->
              {% if redirect_message %}
                  <ul class="flash">
                    <li>{{ redirect_message }}</li>
                  </ul>
                {% endif %}

              {{ wtf.quick_form(form, novalidate=False, method="post", button_map={"add_cafe": "primary"}) }}
            </div>
          </div>
        </section>
      </main>